<html ng-app="store">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="bootstrap.min.css"></link>
	</head>
	<body ng-controller="StoreController as store">
		<ul class="list-group">
			<li class="list-group-item" ng-repeat="product in store.products|orderBy:'nombre'">
				<h3>
					{{product.nombre}}
					<em class="pull-right"> {{product.edad}}</em>
				</h3>
				<section ng-controller="PanelController as panel">
					<ul class="nav nav-pills">
						<li ng-class="{ active: panel.isSelected(1) }"> 
							<a href ng-click="panel.setTab(1)"> Handicap</a>
						</li>
					<div class="panel" ng-show="panel.isSelected(1)">
						<h4>Handicap</h4>
						<blockquote>{{product.handicap}}</blockquote>
					</div>
				</section>
			</li>
		</ul>
		<script type="text/javascript" src="angular.min.js"></script>
		<script type="text/javascript" src="manu.js"></script>
	</body>
</html>
